:root{
    --main-color: #0000A4;
    --font-color: #FEFEFE;
    --button-color:#04ADFF;

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body, html{
    height: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg, #01015e, #0000a4);
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}


