.container-quiz{
    width: 100%;
    max-width: 940px;
    min-height: 350px;
    background-color: #fff;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
    padding: 80px 90px;
    border-radius: 10px;
}

@media (max-width: 940px) {
   
    .container-quiz{
        width: 80%;
    }


}

