.option{
    background-color: #0000a4;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.4s;
}

.option:hover{
    opacity: 1;
}

#options-container .option p{
    margin-bottom: 0;
}


.correct{
    background-color: #088803;
    font-weight: bold;
    font-size: 1.5rem;
}

.wrong{
    background-color: #040489;
    opacity: .2;
}
